* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 20px;
}

button {
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid black;
    box-shadow: 5px 5px 5px;
    background-color: cyan;
    text-align: center;
    font-size: 16px;
    font-weight: 700;
    margin: 20px;
    cursor: pointer;
    transition: .3s all;
}

.active {
    font-size: 20px;
    background-color: rgb(38, 255, 0);
    box-shadow: 5px 5px 5px rgb(60, 175, 39);
    color: rgb(255, 255, 255);
    text-shadow: rgb(0, 0, 0) 2px 0 5px;
    border: 3px dotted black;
}

.active_div {
    margin-left: 20px;
    font-size: 30px;
    font-weight: 900;
    color: red;
}